<p id="notice"><%= notice %></p>

<h1>Comments</h1>

<table>
  <thead>
    <tr>
      <th>Message</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.message %></td>
        <td><%= comment.title %></td>
        <td><%= link_to 'Show', comment %></td>
        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment', new_comment_path %>

rails standard image tag & url
<br>
image tag
<br>
<%= image_tag('machine_motion_capture.png') %>
<br>
image url
<br>
<%= image_url('machine_motion_capture.png') %>

<br>
imgix image tag & url
<br>
image tag
<br>
<%= ix_image_tag('assets/machine_motion_capture.png') %>
<br>
image url
<br>
<%= ix_image_url('assets/machine_motion_capture.png') %>


<br>
use asset path
<br>
<%= ix_image_tag(asset_path('machine_motion_capture.png')) %>
<br>
<%= ix_image_url(asset_path('machine_motion_capture.png')) %>
<br>

<br>
use image path
<br>
<%= ix_image_tag(image_path('machine_motion_capture.png')) %>
<br>
<%= ix_image_url(image_path('machine_motion_capture.png')) %>
<br>

<br>
with custom helper
<br>
image url
<br>
<%= ex_ix_image_tag('machine_motion_capture.png') %>
<br>
<%= ex_ix_image_url('machine_motion_capture.png') %>
<br>
